<h2><%= business.name.upcase %></h2>
<p><%= business.body %></p>
<p><%= business.rating %></p>
<p><%= link_to 'Show', business %>,
<%= link_to 'Edit', edit_business_path(business) %>
<%= link_to 'Delete', business, method: :delete, data: { confirm: 'Are you sure?' } %></p>