<%= form_with(model: business, local: true) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category_id, Category.all.collect { |cat| [ cat.name, cat.id ] }, include_blank: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label class="btn btn-primary">
      Upload an image or logo of your business <%= form.file_field :main_image, style: 'display:none;' %>
    </label>
  </div>

  <div class="form-group">
    <%= form.submit "Create Business", class: 'btn btn-primary' %>
  </div>
<% end %>
