<%= form_for ([@location, @business]) do |form| %>
  <% if business.errors.any? %>
    <% @business.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category_id, Category.all.collect { |cat| [ cat.name, cat.id ] }, include_blank: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Link to Website" %>
    <%= form.text_area :link, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label class="btn btn-primary">
      Upload an image or logo of your business <%= form.file_field :main_image, style: 'display:none;' %>
    </label>
  </div>

  <div class="form-group">
    <%= form.submit "Create Business", class: 'btn btn-primary' %>
  </div>
<% end %>
