<h1 class="text-muted"><%= @location.name %>
  <small class="text-muted"><%= @subcategory.title unless @subcategory == nil %></small>
</h1>

<%= render 'shared/business_search' %>

<%= render @businesses %>

<%= paginate @businesses %>
