<div class="row">
  <div class="col-md-12">
    <h1><%= @business.name %></h1>
    <%= link_to 'Suggest A Pro', new_location_business_rating_path(@location, @business), class: "btn btn-primary" %>
    <%= link_to 'Back', location_businesses_path, class: "btn btn-secondary" %>
    <br>
    <br>
    <div>
      <% if policy(@business).update? %>
        <%= link_to 'Edit Service', edit_location_business_path(@location, @business), class: "btn btn-danger" %>
      <% end %>
      <% if policy(@business).destroy? %>
        <%= link_to 'Remove Service', [@location, @business], class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      <br>
      <br>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag business_img(@business.main_image.url), width: '100%', height: 'auto' %>
  </div>
  <div class="col-md-6">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="star-rating-show" data-score="<%= @avg_rating %>"></div>
    <em><%="#{@ratings.length} locals suggested #{@business.name}" %></em>
    <div class="light-theme">
      <p><%= @business.body %></p>
      <% unless @business.link == nil %>
        <hr>
        <p><%= link_to @business.link, @business.link, class: "light-theme" %></p>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <h1>Suggestions</h1>
    <% if @ratings.blank? %>
      <h3>No suggestions yet, would you like to make the first?</h3>
      <%= link_to 'Suggest A Pro', new_location_business_rating_path(@location, @business), class: "btn btn-primary" %>
    <% else %>
      <% @ratings.each do |rating| %>
      <div class="rounded shadow-sm review-theme">
        <div class="reviews">
          <div class="star-rating-show" data-score="<%= rating.stars %>"></div>
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <%= User.find(rating.user_id).username %> / <%= rating.created_at.strftime("%F") %>
          </p>
          <p><%= rating.comment %></p>
        </div>
      </div>
      <hr>
      <% end %>
    <% end %>
  </div>
</div>


<script>
  $(document).ready(function(e) {
    $('.star-rating-show').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets/'
    });
  });
</script>