<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @business.body %>
</p>

<p>
  <strong>Main image:</strong>
  <%= image_tag @business.main_image %>
</p>

<p>
  <strong>Rating:</strong>
  <% @business.rating.times do %>
    <span style="color: Goldenrod;">
      <i class="fa fa-star" aria-hidden="true"></i>
    </span>
  <% end %>

  <% @business.blank_stars.times do %>
    <span style="color: Goldenrod;">
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </span>
  <% end %>
</p>

<% if policy(@business).update? %>
  <%= link_to 'Edit', edit_business_path(@business) %> |
<% end %>
<% if policy(@business).destroy? %>
  <%= link_to 'Delete', @business, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', businesses_path %>
