<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @business.body %>
</p>

<p>
  <strong>Main image:</strong>
  <%= image_tag @business.main_image %>
</p>

<% if @ratings.blank? %>
  <h3>No reviews yet, would you like to write the first?</h3>
  <%= link_to 'Write a Review', new_business_rating_path(@business) %> 
<% else %>
  <% @ratings.each do |rating| %>
    <div class="reviews">
      <div class="star-rating" data-score="<%= rating.stars %>"></div>
    </div>
  <% end %>
<% end %>


<% if policy(@business).update? %>
  <%= link_to 'Edit', edit_business_path(@business) %> |
<% end %>
<% if policy(@business).destroy? %>
  <%= link_to 'Delete', @business, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', businesses_path %> |
<%= link_to 'Write a Review', new_business_rating_path(@business) %> 


<script>
  $(document).ready(function(e) {  
    $('.star-rating').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets/'
    });
  });
</script>