<div class="row">
  <div class="col-md-12">
    <h1><%= @business.name %></h1>
    <br>
    <div>
      <% if policy(@business).update? %>
        <%= link_to 'Edit', edit_location_business_path(@location, @business),class: "light-theme" %> |
      <% end %>
      <% if policy(@business).destroy? %>
        <%= link_to 'Delete', [@location, @business],class: "light-theme", method: :delete, data: { confirm: 'Are you sure?' } %> |
      <% end %>
      <%= link_to 'Back', location_businesses_path,class: "light-theme" %> |
      <%= link_to 'Suggest A Pro', new_location_business_rating_path(@location, @business),class: "light-theme" %>
      <br>
      <br>
    </div>
    <p><%= image_tag business_img(@business.main_image.url), width: '600', height: 'auto' %></p>
    <p><div class="star-rating-show" data-score="<%= @avg_rating %>"></div>
      <em><%="#{@ratings.length} reviews" %></em></p>
      <div class="light-theme">
        <p><%= @business.body %></p>
      </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h1>Reviews</h1>
    <% if @ratings.blank? %>
      <h3>No reviews yet, would you like to write the first?</h3>
      <%= link_to 'Suggest A Pro', new_location_business_rating_path(@location, @business),class: "light-theme" %> 
    <% else %>
      <% @ratings.each do |rating| %>
      <div class="rounded shadow-sm review-theme">
        <div class="reviews">
          <div class="star-rating-show" data-score="<%= rating.stars %>"></div>
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <%= User.find(rating.user_id).username %> / <%= rating.created_at.strftime("%F") %>
          </p>
          <p><%= rating.comment %></p>
        </div>
      </div>
      <hr>
      <% end %>
    <% end %>
  </div>
</div>


<script>
  $(document).ready(function(e) {  
    $('.star-rating-show').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets/'
    });
  });
</script>