<h1 class="text-muted"><%= @location.name %>
  <small class="text-muted">Subcategories</small>
</h1>

<% if policy(@subcategories).new? %>
  <%= link_to 'New Category', new_location_subcategory_path, class: "btn btn-primary" %>
<% end %>

<div class="row">

  <% @subcategories.each do |subcategory| %>
    <div class="col-md-4">
      <div class="card card-sidebar text-white">
        <%= link_to subcategory.title, location_businesses_path(location_id: @location, subcategory: subcategory.title), class: "text-white text-center" %>
        <% if policy(@subcategories).update? %>
          <%= link_to 'Edit', edit_location_subcategory_path(@location, subcategory), class: "text-white" %>
          <%= link_to 'Delete', location_subcategory_path(@location, subcategory), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-white" %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>

<br>

