<% if current_user.is_a?(GuestUser) %>
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Log in to be redirected to your area or select your area from the list below to continue.</p>
  </div>
<% end %>

<div class="sidebar-module">
  <h4 class="text-muted">Locations</h4>

  <%= link_to "www.bestell.co.za", 'https://pdv-stell-frontend.herokuapp.com', class: 'text-muted' %> (stellenbosch)

  <hr>

  <h4 class="text-muted">Categories
    <small class="text-muted"><%= link_to "Show all", location_businesses_path(location_id: @location), class: "text-muted" %></small>
  </h4>

  <%= form_for "", url: categories_path, role: "search", method: :get do %>
    <%= text_field_tag :search, @search_term_cat, placeholder: "Search categories...", class: "form-control" %>
  <% end %>

  <% Category.order('name ASC').each do |cat| %>
    <p><%= link_to cat.name, location_businesses_path(location_id: @location, category: cat.name), class: 'text-muted' %></p>
  <% end %>

</div>