<%= form_for ([@location, @business, @rating]) do |form| %>
  <% if rating.errors.any? %>
    <% @rating.errors.full_messages.each do |error| %>
       <%= alert_generator error %>
      <% end %>
  <% end %>

  <div class="form-group">
    <div id="star-rating"></div>
  </div>

  <div class="form-group">
    <%= form.label :comment %>
    <%= form.text_area :comment, autocomplete: "Write your review...", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>

<script>
  $(document).ready(function(e) {
    $('#star-rating').raty({
      path: '/assets/',
      scoreName: 'rating[stars]'
    });
  });
</script>
