<%= form_for ([@location, @category]) do |form| %>
  <% if category.errors.any? %>
    <% @category.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :display_in_navbar %>
    <%= form.check_box :display_in_navbar %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
