<div class="container light-theme">
  <div class="row">
    <div class="col-md-6">
      <h1>Locations | <%= link_to "New Location", new_location_path %></h1>

      <br>

      <% Location.all.each do |loc| %>
        <%= link_to loc.name, location_businesses_path(location_id: loc) %>
        <br>
      <% end %>

      <br>
      <br>
      <br>
      <br>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Display in navbar</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @locations.each do |location| %>
            <tr>
              <td><%= location.name %></td>
              <td><%= location.display_in_navbar %></td>
              <td><%= link_to 'Show', location %></td>
              <% if policy(location).update? %>
                <td><%= link_to 'Edit', edit_location_path(location) %></td>
              <% end %>
              <% if policy(location).destroy? %>
                <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Location', new_location_path %>
    </div>
    <div class="col-md-6">
    </div>
    
  </div>
</div>
