<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render "shared/application_nav" %>

    <div class="fluid-container light-theme">
      <div class="row">
        <div class="col-md-3">
          <div class="offset-sm-1 app-sidebar d-none d-md-block">
            <%= render "shared/application_sidebar" %>
          </div>    
        </div>

        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-1">
        </div>

      </div>

      <%= alerts %>
    </div>
  </body>
</html>
