<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= favicon_link_tag 'favicons/SuggestaproIcon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <%= render "shared/application_nav" %>
    </header>

    <main role="main" class="flex-shrink-0">
      <div class="fluid-container">
        <div class="light-theme">

          <div class="row">
            <div class="col-lg-3 d-none d-lg-block">
              <%= render 'shared/location_sidebar'%>
            </div>

            <div class="col-lg-8">
              <%= yield %>
            </div>

            <div class="col-lg-1">
            </div>
          </div>

          <div class="row d-none d-block d-lg-none">
            <%= render 'shared/location_sidebar'%>
          </div>
          
        </div>
      </div>

    </main>

      <footer class="footer mt-auto py-3">
        <div class="container">
          <%= render "shared/application_footer" %>
        </div>
      </footer>

      <%= alerts %>
    </div>
  </body>
</html>